<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
</head>
<body>
    <%- include('./partials/header.ejs') %> 

    <section href="/details/id:" id="details">
        <div>
            <h2> Name: <%= coin.nome %> </h2>
            <p> Denomination: <%= coin.denomination %> </p>
        </div>

        <div>
            <img id="imgF" src="<%= coin.picture_front %>" alt="" />
            <img id="imgB" src="<%= coin.picture_back %> " alt="" />
        </div>

        <div>
            <p> Topic: <%= coin.topic %> </p>
            <p> Period: <%= coin.period_ %> </p>
            <p> Year: <%= coin.years  %> </p>
            <p> Composition: <%= coin.composition  %> </p>
            <p> typeboard: <%= coin.typeboard %> </p>
        </div>
        

    </section>

    <%- include('./partials/footer.ejs') %> 
    
</body>
</html>