<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/style.css">
   <title> Document </title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
   
<main>
      
   <section class="cards">

   <% coins.forEach((Coin , id) => { %>

          <div id="info">
           
            <h2> <%= Coin.nome %> </h2>     
            <p id="ano"><%= Coin.years %></p>

         </div>

          <img id="imgF" src="<%= Coin.picture_front %>" alt="" />
          <img id="imgB" src="<%= Coin.picture_back %> " alt="" />
          <a id="toEdit" href="/getById/<%= Coin.id %>/put"> To edit </a>
        </div>

        <% }) %> 

   </section>

   <% if(coinPut != null) {%> 
      <%- include('./partials/modalPut.ejs') %> 
   <% } %>

   <%- include('./partials/footer.ejs') %>
    
</body>
</html> 