<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <%- include('./partials/head.ejs') %> 
</head>

<body>
    <%- include('./partials/header.ejs') %>
   
<main>
      
   <section class="cards">

   <% coins.forEach((Coin , id) => { %>

          <div id="info">
           
            <h2> <%= Coin.nome %> </h2>     
            <p id="ano"><%= Coin.years %></p>

         </div>

          <img id="imgF" src="<%= Coin.picture_front %>" alt="" />
          <img id="imgB" src="<%= Coin.picture_back %> " alt="" />
         
        </div>

        <div>
           <button id="edit" type="submit"> To edit </button>
        </div>

   </section>

</main> 
   <%- include('./partials/footer.ejs') %>
</body>
</html> 