<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <%- include('./partials/head.ejs') %> 
</head>

<body>
    <%- include('./partials/header.ejs') %>
   
<main>
      
   <section class="cards">

   <% coins.forEach((Coin , id) => { %>

          <div id="info">
           
            <h2> <%= Coin.nome %> </h2>     
            <p id="ano"><%= Coin.years %></p>

         </div>

          <img id="imgF" src="<%= Coin.picture_front %>" alt="" />
          <img id="imgB" src="<%= Coin.picture_back %> " alt="" />
          <a id="toEdit" href="/getById/<%=Coin.id%>/put"> To edit </a>
          <a id="delete" href="/getById/<%=Coin.id%>/delete"> Delete </a>
        </div>

        <% }) %> 

   </section>

   <% if(coinPut != null) {%> 
      <%- include('./partials/modalPut.ejs') %> 
   <% } %>

   <% if(coinDel != null) {%> 
      <%- include('./partials/modalDel.ejs') %> 
   <% } %>

   <%- include('./partials/footer.ejs') %>
    
</body>
</html> 